.footer {
  background: linear-gradient(135deg, #6c9a9e, #8fb8b3);
  color: white;
  text-align: center;
  padding: 12px 0;
  position: relative;
  bottom: 0;
  width: 100%;
  font-size: 17px;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
}
