.plans-bg {
  min-height: 100vh;
  background: #f7f3ee;
  font-family: "Poppins", sans-serif;
  padding-bottom: 50px;
}

/* Navbar */
.navbar {
  background: linear-gradient(135deg, #6c9a9e, #8fb8b3);;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.navbar h1 {
  color: white;
  cursor: pointer;
}

.navbar button {
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 8px 18px;
  border-radius: 20px;
  cursor: pointer;
}

/* Header */
.plans-header {
  text-align: center;
  margin: 50px 0 30px 0;
}

.plans-header h1 {
  font-size: 26px;
  color: #2f4f4f;
}

.plans-header p {
  color: #555;
  margin-top: 10px;
}

/* Cards Container */
.plans-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

/* Individual Card */
.plan-card {
  background: white;
  width: 320px;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.08);
  text-align: center;
  position: relative;
  transition: 0.3s;
}

.plan-card:hover {
  transform: translateY(-8px);
}

/* Highlighted card */
.highlight {
  border: 3px solid #7ea5a2;
  transform: scale(1.05);
}

/* Badge */
.badge {
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
  background: #7ea5a2;
  color: white;
  padding: 5px 15px;
  font-size: 12px;
  border-radius: 20px;
}

/* Price */
.price {
  margin: 20px 0;
  font-size: 32px;
}

.price span {
  font-size: 14px;
  color: gray;
}

/* Features */
.plan-card ul {
  list-style: none;
  padding: 0;
  text-align: left;
  margin: 20px 0;
}

.plan-card li {
  margin-bottom: 10px;
  font-size: 14px;
}

/* Button */
.plan-btn {
  width: 100%;
  padding: 12px;
  border-radius: 25px;
  border: none;
  background: #7ea5a2;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.plan-btn:hover {
  background: #5f8d89;
}
